VITE_APP_NAME=AC Silver's GYM
VITE_GOOGLE_CLIENT_ID=
VITE_AUTH_MODE=backend
VITE_ENABLE_DEMO_LOGIN=true
VITE_SUPPORT_EMAIL=soporte@acsilversgym.com
VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
VITE_SUPABASE_LANDING_BUCKET=imageneslandingpage
VITE_SUPABASE_LANDING_FOLDER=landingpage
VITE_SUPABASE_ANON_KEY=pon-tu-anon-key-aqui
