VITE_APP_NAME=AC Silver's GYM
VITE_GOOGLE_CLIENT_ID=
VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
VITE_SUPABASE_ANON_KEY=pon-tu-clave-publica-anon-aqui
VITE_SUPABASE_LANDING_BUCKET=imageneslandingpage
VITE_SUPABASE_LANDING_FOLDER=landingpage
